<% layout('layout') -%>
<div class="row">
	<div class="col-md-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="example-title text-center">
					Todorro
				</h3>
				<h4 class="example-title text-center">
					Simple ToDo Application
				</h4>
			</div>
			<div class="panel-heading">
				<h3 class="panel-title">
					<form action="/add" method="post" accept-charset="utf-8" class="cf fw">
						<!--<input type="text" name="content" class="fl"/>-->
						<div class="input-group form-search">
							<input type="text" name="content" class="form-control search-query">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary" data-type="last">Add</button>
							</span>
						</div>
					</form>
				</h3>
			</div>
			<div class="panel-body">
				<% if (err.length > 0) { %>
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<strong><%= err %></stron>
							</div>
						</div>
					</div>
				<%}%>
				<ul class="list-group">
					<% for(var i=0; i < todos.length; i++) { %>
						<li class="list-group-item <% if (todos[i].done != 'true') { %> list-group-item-warning fcblack<% } %>">
							<span class="badge badge-primary date"><%= todos[i].creationDate %></span>
							<%= todos[i].content %>
							<a href="#" title="Edit this todo item" class="fr ml10 editAction" data-id="<%= todos[i]._id %>">Edit</a>
							<a href="/remove/<%= todos[i]._id %>" title="Delete this todo item" class="fr ml10 deleteAction">Delete</a>
							<a href="/status" class="fr ml10 updateStatusAction" data-id="<%= todos[i]._id %>" data-status="<%= todos[i].done %>">
								<% if (todos[i].done == 'true') { %> Complete <% } else { %> Not Completed <% } %>
							</a>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
